h1 {
    font-size: 25px;
    text-align: center;
}

form input {
    background-color: black;
    color: white;
    font-size: 20px;
}

form {
    font-size: 20px;
    text-align: center;
}

body p {
    text-align: center;
    font-size: 60px;
    font-weight: normal;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
    width: 1100px;
    margin: 1px auto;
    letter-spacing: 7px;
    text-shadow:-3px 2px lime,-7px 4px slateblue,-11px 6px turquoise;
}